{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
  {% trans "Delete" %} - {{product.title}}
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6 mt-5 ">
            <h2>{% trans "Are you sure to delete" %} -  {{product.title}}</h2>
            <form  method="post" enctype="multipart/form-data" >{% csrf_token %}
                
                <button type="submit" class="btn btn-primary" >{% trans "Submit" %}</button>
                <a class="btn btn-secondary" href="{% url 'products:detail' product.id %}"> {% trans "Back Detail" %}</a>
            </form>
        </div>
        <div class="col"></div>
    </div>
  </div>
{% endblock content %}